/* 1920 standard */
.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20%;
  z-index: 100;
  background-color: rgba(255, 252, 236, 0.8);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
}
.container p {
  font-size: 12px;
}
.logo {
  font-weight: 700;
  cursor: pointer;
}
.el {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}
/* text : menu ? close */
.label {
  position: relative;
  display: flex;
  align-items: center;
}
.label p:nth-of-type(2) {
  position: absolute;
  opacity: 0;
}
/* hamburger menu */
.burger {
  width: 18px;
  position: relative;
  pointer-events: none;
}
.burger::after,
.burger::before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #005134;
  position: relative;
  display: block;
  transition: all 1s ease-in-out;
}
.burger::after {
  top: -4px;
}
.burger::before {
  top: 4px;
}
.burgerActive::after {
  transform: rotate(45deg);
  top: -1px;
}
.burgerActive::before {
  transform: rotate(-45deg);
  top: 1px;
}
/* contact icons */
.contact {
  display: flex;
  flex-direction: row;
}
.contact svg:nth-of-type(1) {
  margin-right: 14px;
}

/* smaller mobile */
@media screen and (max-width: 480px) {
  .container {
    height: 26px;
  }
  .container p {
    font-size: 8px;
  }
  .burger {
    width: 12px;
  }
  .burger::after {
    top: -2px;
  }
  .burger::before {
    top: 2px;
  }
  .burgerActive::after {
    transform: rotate(45deg);
    top: 1px;
  }
  .burgerActive::before {
    transform: rotate(-45deg);
    top: 2px;
  }
  .label {
    margin-top: 1px;
  }
  .contact {
    visibility: hidden;
  }
}
/* larger smartphones & tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    height: 40px;
  }
  .container p {
    font-size: 10px;
  }
  .contact {
    visibility: hidden;
  }
}
/* larger tablets & laptop & small desktops */
@media screen and (min-width: 769px) and (max-width: 1279px) {
}
/* larger desktops & monitors */
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}
/* larger than standard: imac */
@media screen and (min-width: 1921px) {
}
