.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100dvh - 100px);
}
.ImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 296px;
  height: 356px;
  overflow: hidden;
}
.ImageContainer div {
  transition: all 0.6s ease-in-out;
}
.profile {
  width: 296px;
  height: 356px;
}
.textbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 296px;
  margin-top: 10px;
  transition: all 0.4s ease-in-out;
}
.textbox p {
  font-size: 10px;
  font-weight: 400;
}
