.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100dvh - 60px);
}
.ImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  overflow: hidden;
}
.ImageContainer div {
  transition: all 0.6s ease-in-out;
}
.profile {
  width: 100%;
  height: fit-content;
}

.textbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
  margin-top: 10px;
  transition: all 0.4s ease-in-out;
}
.textbox p {
  font-size: 10px;
  font-weight: 400;
}
.copyright {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 8px;
  font-weight: 400;
}
