.block {
  width: 100%;
}
.block h1 {
  font-size: 2.4vw;
  font-weight: 200;
}
.codebox {
  width: 60vw;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.8vw;
  margin: 2vw;
  padding: 2vw;
  font-size: 1vw;
}
.tab {
  margin-left: 4vw;
  padding: 0.2vw 0;
}
.bold {
  color: #0f0f0f;
  font-weight: 500;
}
.blue {
  color: #0277aa;
}
.red {
  color: #990055;
}
.green {
  color: #669900;
}
.brown {
  color: #9a6e39;
}
.gray {
  color: #999999;
}

/* smaller mobile */
@media screen and (max-width: 480px) {
  .block {
    width: 80%;
    height: fit-content;
    margin: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .block h1 {
    font-size: 3.4vw;
  }
  .codebox {
    height: 20vh;
    font-size: 1.8vw;
    padding: 3vw 0 0 6vw;
  }
}
/* larger smartphones & tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .block {
    width: 80%;
    height: fit-content;
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .block h1 {
    font-size: 3.4vw;
  }
  .codebox {
    height: 20vh;
    font-size: 1.8vw;
    padding: 3vw 0 0 6vw;
  }
}
