.strap {
  position: fixed;
  left: 6.5%;
  top: -63.5%;
  z-index: 15;
}
.container {
  position: fixed;
  left: 4%;
  top: 30%;
  width: 20%;
  height: 50%;
  background: rgba(255, 255, 255, 1);
  border-radius: 0.8vw;
  backdrop-filter: blur(0.6px);
  -webkit-backdrop-filter: blur(0.6px);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container > h1 {
  padding: 1vw 0;
  font-size: 1vw;
  color: #555;
}
.textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0f0f0f;
}
.textbox h1 {
  font-size: 1.4vw;
  font-weight: 800;
}
.textbox h1:nth-of-type(1) {
  margin-top: 1.6vw;
  color: #e8ccda;
}
