.block {
  width: 100%;
}
.block h1 {
  font-size: 2.4vw;
  font-weight: 200;
}
.innerbox {
  width: 60vw;
  height: fit-content;
  margin: 2vw;
  padding: 2vw;
}
.innerbox div {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1vw;
  margin: 0.8vw 0;
  padding: 0.3vw 1vw;
  background-color: #ffffff45;
  border-radius: 0.3vw;
  border: 1px solid white;
}
.innerbox div h2 {
  font-size: 1.2vw;
  font-weight: 200;
  margin-right: 2vw;
}
.innerbox div p {
  font-weight: 600;
  margin: 0 1.2vw;
}

/* smaller mobile */
@media screen and (max-width: 480px) {
  .block {
    width: 80%;
    height: fit-content;
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .block h1 {
    font-size: 3.4vw;
  }
  .innerbox {
    width: 70vw;
  }
  .innerbox div {
    font-size: 1.8vw;
  }
  .innerbox div h2 {
    font-size: 2.2vw;
  }
}
/* larger smartphones & tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .block {
    width: 80%;
    height: fit-content;
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .block h1 {
    font-size: 3.4vw;
  }
  .innerbox {
    width: 70vw;
  }
  .innerbox div {
    font-size: 1.8vw;
  }
  .innerbox div h2 {
    font-size: 2.2vw;
  }
}
