.block {
  width: 100%;
  height: fit-content;
}
.block h1 {
  font-size: 2.4vw;
  font-weight: 200;
}
.innerbox {
  width: 60vw;
  height: fit-content;
  margin: 2vw;
  padding: 2vw;
  display: flex;
  flex-direction: row;
}
.doubleInner {
  width: 50%;
  margin: 0 8%;
}
.doubleInner h2 {
  font-size: 2vw;
  font-weight: 100;
}
.doubleInner div h3 {
  font-size: 1.4vw;
  font-weight: 100;
  margin: 1vw 0;
  padding-top: 1vw;
}
.doubleInner div p {
  font-size: 1vw;
  font-weight: 400;
  margin: 0.5vw 0;
  padding: 0.3vw;
}
.doubleInner div p span {
  font-size: 0.6vw;
  font-weight: 200;
  color: #555;
  margin-left: 2vw;
}
.doubleInner div p.strong {
  font-size: 1.1vw;
  font-weight: 700;
  background-color: #ffdb45;
  color: white;
}

/* smaller mobile */
@media screen and (max-width: 480px) {
}
/* larger smartphones & tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .block {
    width: 80%;
    height: fit-content;
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .block h1 {
    font-size: 3.4vw;
  }
  .innerbox {
    width: 80vw;
  }
  .doubleInner h2 {
    font-size: 3vw;
  }
  .doubleInner div h3 {
    font-size: 2.3vw;
  }
  .doubleInner div p {
    font-size: 1.8vw;
  }
}
