.body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.body a {
  color: #005134;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
}

.body p {
  margin: 0px;
  display: flex;
  font-size: 24px;
  padding-right: 30px;
  padding-top: 10px;
  font-weight: 300;
}

/* smaller mobile */
@media screen and (max-width: 480px) {
  .body {
    margin-top: 20px;
  }
  .body p {
    font-size: 16px;
  }
}
/* larger smartphones & tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
}
/* larger than 1000 */
@media screen and (min-width: 1000px) {
  .body {
    max-width: 1200px;
    margin-top: 80px;
  }
  .body p {
    font-size: 1.8vw;
    padding-right: 2vw;
  }
}
