.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.title {
  font-size: 2vw;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 160%;
  word-break: keep-all;
  padding: 10% 0;
}
.title span {
  background-color: #feea7e;
}
.textWrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
}
.subTitle {
  font-size: 2vw;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 160%;
  word-break: keep-all;
  padding-top: 10%;
}
.iconWrapper {
  margin: 10% 0 8%;
}
.iconWrapper p {
  font-size: 1.4vw;
  font-weight: 600;
  padding: 10% 0;
  text-align: center;
}
.iconWrapper div {
  display: flex;
  flex-direction: row;
}
.icon {
  width: 3.6vw;
  height: 3.6vw;
  border-radius: 1vw;
  margin: 0 1.3vw;
}

/* smaller mobile */
@media screen and (max-width: 480px) {
  .main {
    padding: 0 10%;
  }
  .textWrapper {
    width: 100%;
    padding: 10vw 0 20vw;
  }
  .title {
    font-size: 4vw;
    margin-top: 10vw;
  }
  .subTitle {
    font-size: 4vw;
    padding: 20vw 0 0;
  }
  .iconWrapper {
    padding: 25% 0;
  }
  .iconWrapper p {
    font-size: 3vw;
  }
  .icon {
    width: 7vw;
    height: 7vw;
  }
}
/* larger smartphones & tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
}
