.words {
  max-width: 80%;
  font-size: 1.6rem;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  word-break: keep-all;
  line-height: 1.3;
}
.word {
  margin: 12px 12px 0 0;
  position: relative;
}
.shadow {
  position: absolute;
  opacity: 0.1;
}
