.textbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin: 80px 15% 0;
}
.textbox span {
  font-size: 0.55vw;
  margin-bottom: 1%;
}
.value {
  font-size: 4vw;
  font-weight: 600;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
}

.ImageBg {
  display: flex;
  justify-content: center;
}
.ImageContainer {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.profile {
  width: inherit;
  height: inherit;
}

/* smaller mobile */
@media screen and (max-width: 480px) {
  .value {
    font-size: 6vw;
  }
  .textbox {
    width: 100%;
    margin: 50px 0 0;
  }
  .textbox span {
    font-size: 0.8vw;
  }
}
