.main {
  margin-bottom: 100dvh;
  width: 100dvw;
  height: 100dvh;
  position: relative;
}
.sliderContainer {
  position: absolute;
  top: calc(100dvh - 300px);
}
.slider {
  position: relative;
  white-space: nowrap;
  display: flex;
  width: 100dvw;
}
.slider p {
  margin: 8px;
  color: black;
  font-size: 240px;
  font-weight: 500;
}
